body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: black;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 20px 0 40px;
  }

  .header a {
    border: 1px solid #8af1aa;
    background-color: #8af1aa;
    color: #262836;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  }

  .footer {
    background-color: #262836;
    text-align: center;
    color: white;
    padding: 20px 10px;
    border-radius: 10px;
  }

  .main{
    color: #fff;
   min-height: 100vh;
  }

  .main h1{
    margin-bottom: 15px;
    color: #8af1aa;
  }

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid silver;
    border-radius: 5 px;
    margin-bottom: 20px;
    margin-right: 20px;
    
  }

  .container a:hover{
    color: #8af1aa;
  }

  .info{
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .detail-container{
    border: 1px #8af1aa solid;
    padding: 20px;
  }

  .detail-button{
    display: flex;
    justify-content: flex-end;
  }

  .detail-button a{
    border: 1px solid #8af1aa;
    background-color: #fff;
    color: #262836;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: small;
    cursor: pointer;
    margin-top: 8px;
  }

  .detail-button a:hover{
    background-color: #8af1aa;
    transition: all 0.4s ease-in-out;
  }

  .form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    color: #57aac8;
  }
  
  .form-input label {
    margin-bottom: 10px;
  }
  
  .form-input input {
    background-color: #262836;
    border: none;
    border-radius: 5px;
    padding: 20px;
    color: white;
    font-size: 1rem;
    outline: none;
  }

  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }

  .next-button{
    border: 1px solid #8af1aa;
    background-color: #8af1aa;
    color: #262836;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
  }

  .next-button:disabled{
    background-color: #646569;
    border: #646569;
    cursor: default;
  }

  .prev-button{
    border: 1px solid #8af1aa;
    background-color: #8af1aa;
    color: #262836;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    margin-right: 10px;
  }

  .prev-button:disabled{
    background-color: #646569;
    border: #646569;
    cursor: default;
  }

  .post-page__buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .post-page__buttons .first {
    color: #f0394b;
    background-color: black;
    border: 3px solid #f0394b;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px 30px;
    cursor: pointer;
  }
  
  .post-page__buttons .second {
    color: #8af1aa;
    background-color: black;
    border: 3px solid #8af1aa;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px 30px;
    cursor: pointer;
  }
  


